= form_tag login_path, :method => :post do
  %table
    %tr
      %td
        = label :moviegoer, :email, 'Email'
        = email_field :moviegoer, 'email'
    %tr
      %td
        = label :moviegoer, :password, 'Password'
        = password_field :moviegoer, 'password'
    %tr
      %td{:colspan => 2}
        = submit_tag 'Login'
