!!! 5
%html
  %head
    %title Rotten Potatoes
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = javascript_include_tag 'jquery'

  %body
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]

    - if @current_moviegoer
      %p.welcome Welcome, #{@current_moviegoer.full_name}! #{link_to 'Log Out', logout_path, :"data-turbo-method" => :post}
    - else
      - unless current_page? login_path
        %p.login Not logged in yet! #{link_to 'Login here', login_path}

    #main
      = yield
